
@{
    ViewBag.Title = "Peers";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}
<div class="header" id="header">
    <div class="content-inner" id="PeersHeader">
        <h1>Peers</h1>
    </div>
</div>
<div class="large-btn">
    <div class="content-inner">
        @*<a class="btn" href="DownloadableContent/CodingResumeAndrewAllen.pdf" download=""><i class="fa fa-download"></i>Resume</a>
        <a class="btn" href="#contact"><i class="fa fa-hands-helping"></i>Hire Me</a>*@
    </div>
</div>

<div class="about" id="about">
    <div class="content-inner" id="DonRichardson">
        <div class="content-header">
            <a href="http://don-richardson.com/" target="_blank" class="header">Don Richardson</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/DonRichardson.jpg" alt="Don Richardson">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    I am born and raised in San Diego, CA then went to school at the University of Kansas cause the weather was better. Majored in Film and Media Studies which led me to work on multiple TV shows on the Cooking Channel. Once I was over the Hollywood life I moved back to Kansas City and got innvolved in banking where my life really got interesting. Worked in numerous departments honing my professional skills. After I had my fill of banking I quit my job, got married, and started web development school all in the same month. Figured I didn't have enough stress in my life so decided to add a little bit more. In my free time I enjoy catching up on the latest Marvel movie, playing with my dog, bugging my wife or working on some new project in my workshop that I try to covince my wife requires a new tool in order for me to finish it.

                </p>
                <a class="btn" href="http://don-richardson.com/" target="_blank">Personal site</a>
                <a class="btn" href="https://www.linkedin.com/in/don-r-15430a15b/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr  id="AbbeyOutain"/>
    <br />
    <br />
    <div class="content-inner">
        <div class="content-header">
            <a href="http://www.abbey-outain.com/" target="_blank" class="header">Abbey Outain</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/AbbeyOutain.jpg" alt="Abbey Outain">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    My background is in English; I’ve been a lifelong reader and writer, but when looking for the next steps in my career, I wanted something that involved more logic and problem solving than putting pen to paper.

                    I attended Centriq Training’s Full Stack Web Developer program, and not only did I fall in love with coding, I also found the creative and critical thinking skills relevant to writing were essential and significant to being a developer. I think my portfolio shows my passion for both the creative and logical aspects of developing, particularly my C# text-based mini-game where you rid a fey castle monsters.
                </p>
                <a class="btn" href="http://www.abbey-outain.com/index.html" target="_blank">Personal site</a>
                <a class="btn" href="https://www.linkedin.com/in/abbeyoutain/" target="_blank">LinkedIn</a>
                <a class="btn" href="https://github.com/abbeyoutain" target="_blank">Github</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr  id="EricFaith"/>
    <br />
    <br />
    <div class="content-inner">
        <div class="content-header">
            <a href="http://eric-faith.net/" target="_blank" class="header">Eric Faith</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/EricFaith.jpg" alt="Eric Faith">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    My name is Eric Faith and I am a Full Stack Web Developer. I attended and completed the Full Stack Wed Development Program from Centriq IT out of St. Louis, MO. I am from Southern Illinois and have lived here most of my life. I come from industry jobs such as Factory, railroad, ups where I grew my abilities in customer service , technical cpu/program use, team work, project managment, deadline driven , collaberation of multiple teams to complete a job or task. Given a general idea of what they want, applying that with very little or no oversite. I'm a hands on learner, a technical progressive kind of person, enjoy problem solving, Attention to detail is key to me, to dig in and do the work. I enjoy working with others and have that ability to exchange ideas. At heart I'm a traveler, I have a very intuitive mind, enjoy tinkering, critial-thinking and always learning. Really excited to continue to learn in this career path with web developing. I enjoy seeing the progression in my own abilities and take these expericences and apply that to the services that I can provide to the IT Industry.
                </p>
                <a class="btn" href="http://eric-faith.net/#page-top" target="_blank">Personal site</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr  id="PatrickStephen"/>
    <br />
    <br />
    <div class="content-inner">
        <div class="content-header">
            <a href="http://patrick-stephen.com/index.html" target="_blank" class="header">Patrick Stephen</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/PatrickStephen.jpg" alt="Patrick Stephen">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    My name is Patrick Stephen. I am 27 years old and have been in the HVAC field for 4 years. I found a passion in computers a few years back when I started building my first PC. Ever since I was young I have been fascinated in anything creepy crawly. I've have had more lizards then I can count, kept a few snakes, and a tarantula. I am always looking to expand my collection, unfortunately, that field does not provide enough income to support a family. I am looking forward to the future and what I can make of myself in the IT field!
                </p>
                <a class="btn" href="http://patrick-stephen.com/index.html">Personal site</a>
                <a class="btn" href="https://github.com/PatrickStephen">Github</a>
                <a class="btn" href="https://www.facebook.com/patrick.stephen.94">Facebook</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr  id="JanetLester"/>
    <br />
    <br />
    <div class="content-inner">
        <div class="content-header">
            <a href="http://jlester-dev.net/" target="_blank" class="header">Janet Lester</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/JanetLester.jpg" alt="Janet Lester">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    I started my career in the Information Technology field over 20 years ago after graduating with a Bachelors Degree in Computer Information Systems. I spent the majority of my career in the healthcare and finance sector, primarily for one company, using Mainframe technologies. There, I performed various roles in delivering quality and efficient projects using both Agile and Waterfall methodologies. Then, in 2018, when that company was sold, I found myself in a new job where I felt unfulfilled and no longer challenged. I knew it was time for a change, but I also knew I wanted to stay in IT development, where I really enjoyed the critical thinking, data analysis and the logic side. So, I made the decision to quit my job and enrolled in Centriq's Full Stack Web Developer Training.. In this accelerated training, I gained hands-on training performing labs and creating projects, both independently and as a team, including some pair programming.
                </p>
                <a class="btn" href="http://jlester-dev.net/">Personal Site</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr  id="JoshuaFoley"/>
    <br />
    <br />
    <div class="content-inner">
        <div class="content-header">
            <a href="http://joshua-foley.com/" target="_blank" class="header">Joshua Foley</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/JoshFoley.jpg" alt="Joshua Foley">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    Prior to starting Centriq I worked as a Medical Support Assistant for the Department of Veterans Affairs. I have always enjoyed learning about and using computers as my grandfather use to work on them and sparked an interest at young age. After working at the VA for 5 years and countless talks with the IT department and some friends I decided that it was time to pursue a career path that I felt I would both enjoy and provided a sense of accomplishment in that I would finally be taking the first steps towards a long dream.
                </p>
                <a class="btn" href="http://joshua-foley.com/">Personal site</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr  id="ScottCashion"/>
    <br />
    <br />
    <div class="content-inner">
        <div class="content-header">
            <a href="http://scott-cashion.com/" target="_blank" class="header">Scott Cashion</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/ScottCashion.jpg" alt="Scott Cashion">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    After high school I attended stlcc and received an Associates Degree in Computer Programming. At this time I did not have the money to attend a university and a friend talked me into working with him at a golf course. After a few years I started going to MoTech in St. Charles. After finishing all the requirements to received a Bachelors Degree in Software Engineering from there the school closed for financial reasons. It took a year for me to learn if I did attain this degree after which I tried to get a job in this field and was not able to. Now I as ready to pick back and continue toward my future.
                </p>
                <a class="btn" href="http://scott-cashion.com/">Personal site</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr  id="JoeMcguire"/>
    <br />
    <br />
    <div class="content-inner">
        <div class="content-header">
            <a href="http://joemcguire-design.com/" target="_blank" class="header">Joe McGuire</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/JoeMcguirepic.jpg" alt="Joe Mcguire">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    I deliver on inspiring, and enjoyable web design, music production, consulting and events. This man has been driven by a deep passion since his early days writing songs, and leading bands as a teenager in Kansas City. Since moving to San Francisco in 2006 and starting the collective and eventually band/production company Afrolicious he has developed a deeper understanding of branding and design as well as a love for tech and the rapidly changing era we are living in. This has led to his current multiple discipline skill sets and approach to art, culture and commerce. As well as becoming a ful stack developer immersed in web 2.0 he is moving in step with the web 3.0 movements and innovations.
                </p>
                <a class="btn" href="http://joemcguire-design.com/">Personal site</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr  id="JasonColobong"/>
    <br />
    <br />
    <div class="content-inner">
        <div class="content-header">
            <a href="http://developer.jason-colobong.com/" target="_blank" class="header">Jason Colobong</a>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="~/Content/img/StudentPhotos/JasonColobong.jpg" alt="Jason Colobong">
            </div>
            <div class="col-md-6 col-lg-7">
                <h2>About</h2>
                <p>
                    Originally from Hawaii, I settled in the Midwest after completing just under 10 years in the Navy as a firefighter. During this time I joined the Army National Guard as an MP and eventually joined a civilian police department as well. During my career I was fortunate enough to have been a K9 handler and a Sergeant, giving me a very fulfilling career. While I am currently pursuing a B.S. as a Data Analyst, that has been put on hold while I attend Centriq to break into IT.
                </p>
                <a class="btn" href="http://developer.jason-colobong.com/">Personal site</a>
            </div>
        </div>
    </div>
</div>
